@import 'src/app/shared/theme/colors';
@import 'src/app/shared/theme/media';

$gap: 8px;

.me-bg {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 15%;
  filter: brightness(50%) grayscale(1);
  z-index: -1;
}

.app-container {
  padding: 10% 10%;
}

p {
  color: hsla(0, 0, 100%, .8);
}

.col-me {
  width: 220px;
  z-index: 1;
}

.photo-container {
  padding: 18px;
  border-radius: 50%;
  border: 3px solid $third-color;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  row-gap: calc(#{$gap} * 2);
  column-gap: $gap;
}

@media screen and (min-width: 300px) and (max-width: $desktop-width) {
  .me {
    max-width: 100%;
  }
  .col-me {
    margin: 20px 0 0 0;
  }
  .col-image {
    padding-top: 48px;
  }
  .me-bg {
    display: none;
  }
}

@media screen and (min-width: $desktop-width) {
  .col-image {
    padding-left: 5%;
  }
  .col-me {
    margin: 150px -20px 0 0;
  }
  .col-background {
    padding-top: 20%;
  }
}
