<div class="row app-container bg-dark waved-top no-gutters" style="position: relative;">
    <div class="col-12 col-lg-2 col-me">
        <img src="assets/images/me.png" alt="me" class="me">
    </div>
    <div class="col-12 col-lg-5">
        <div class="col-background bg-dark">
            <div class="label">About Me</div>
            <div class="header">Hello, I'm Jakub</div>
            <p>
                I graduated from the Polish-Japanese Academy of Information Technology in Gdansk, specialising in web
                applications within the Faculty of Computer Science. My fascination with the intricate workings of the
                IT world has been a driving force throughout my academic journey. Starting from a background in computer
                graphics and dabbling briefly in video editing, I eventually committed to pursuing a more substantial
                path in IT, driven by the prospect of exciting career prospects in the future.
            </p>
            <p>
                Aside from my academic pursuits, my other great passion is traveling. It's a fundamental part of my
                life, and I can't recall a holiday without venturing abroad. I've explored extensively throughout the
                Balkans, Spain, France, Italy, the Benelux countries, North Africa, Israel, Turkey, the Baltic region,
                and even China.
            </p>
            <p>
                I strive to demonstrate that a love for travel and IT can harmoniously coexist. It's a unique experience
                to code while surrounded by the Great Wall of China, the tranquil waters of the Dead Sea, or the
                breathtaking scenery of the Cote d'Azur. I highly recommend this blend of exploration and technological
                immersion to everyone!
            </p>
        </div>
        <img src="assets/images/me_bg.png" alt="Me" class="me-bg waved-top">
    </div>
    <div class="col-12 col-lg-4 col-image">
        <div class="label mb-0">The say about me...</div>
        <p class="mt-2">Recommendations from my coworkers</p>
        <quote *ngFor="let quote of quotes"
               [quote]="quote"
        ></quote>
        <div class="badges">
            <div *ngFor="let goal of goals" class="badge secondary">{{ goal | titlecase }}</div>
        </div>
    </div>
</div>
