<div class="quote">
    <div class="d-flex">
        <img src="assets/images/quotes/{{quote.name | lowercase}}.png" alt="person" class="photo">
        <div class="d-flex flex-column justify-content-center">
            <div class="name">{{ quote.name | titlecase }}</div>
            <div class="position">{{ quote.position | titlecase }}</div>
        </div>
        <img src="../../../../assets/images/quote_char.svg" alt="quote" class="quote-char">
    </div>
    <p class="mt-3">
        {{ quote.text }}
    </p>
</div>
