$recommendPhotoSize: 60px;

.quote {
  width: 275px;
  margin: 32px 0;

  .photo {
    width: $recommendPhotoSize;
    height: $recommendPhotoSize;
    margin-right: 12px;
  }

  .quote-char {
    width: 55px;
    height: 34px;
    margin: 0 auto;
  }

  p {
    font-size: 14px;
    font-style: italic;
    line-height: 1.6;
    color: hsla(0, 0, 100%, .8);
  }

  .name {
    font-family: "SF Pro Text Semibold", sans-serif;
  }

  .position {
    font-size: 12px;
    color: grey;
  }

  fa-icon {
    align-self: center;
    font-size: 48px;
    opacity: 10%;
  }
}
