<div class="row row-section app-container bg-light no-gutters justify-content-center">
    <div class="col-12 col-lg-6 col-image">
        <img src="assets/images/mockups/web.png" alt="latest" class="latest">
    </div>
    <div class="col-12 col-lg-12 p-0">
        <div class="col-background bg-light">
            <div class="header">Websites</div>
            <p>
                My web applications are meticulously crafted leveraging Google's innovative <span><a
                    href="https://angular.io/"
                    target="_blank">Angular</a></span> framework. Angular is a popular open-source framework primarily
                used for building web applications. Developed and maintained by Google, it provides developers with a
                structured and efficient way to create dynamic single-page applications (SPAs).</p>
            <p>One of Angular's key features is its use of a component-based architecture, which allows developers to
                break down their applications into reusable and manageable components. This promotes modularity and
                makes it easier to maintain and scale applications over time.</p>
            <p>Angular also comes with a powerful set of tools and features out of the box, including two-way data
                binding, dependency injection, and a robust routing system. These tools help developers handle complex
                tasks such as managing application state, handling user input, and navigating between different views
                within the application.</p>
            <p>Additionally, Angular offers a rich ecosystem of libraries, plugins, and extensions, making it easy for
                developers to enhance their applications with additional functionality and integrations.
            </p>
            <p>Overall, Angular is a comprehensive framework that empowers developers to build modern, responsive web
                applications with ease. Its robust features, strong community support, and backing from Google make it a
                popular choice for both small-scale projects and large enterprise applications.</p>
            <div class="mt-5">
                <img src="assets/images/logos/angular_logo.svg" alt="angular_logo" class="tool-logo">
                <img src="assets/images/logos/firebase_logo.svg" alt="firebase_logo" class="tool-logo">
            </div>
        </div>
    </div>
</div>
