@import './colors';

.btn {
  border-radius: 200px;
  padding: 12px 19px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  &.btn-primary {
    background-color: $primary-color;
    transition: .2s;
    &:hover {
      background-color: $primary-color-darker;
    }
  }
}
