@import './colors';

$store-logo-size: 32px;

.btn {
  border-radius: 200px;
  padding: 16px 24px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  //font-size: 18px;
  width: fit-content;
  max-height: 60px;
  &.btn-lg {
    font-size: 18px;
    padding: 16px 32px;
    height: 60px;
  }
  &.btn-primary {
    background-color: $primary-color;
    transition: .2s;
    &:hover {
      background-color: $primary-color-darker;
    }
  }
  &.btn-icon {
    svg {
      margin-left: 12px;
      transition: all .3s;
    }
    &:hover {
      svg {
        margin-left: 22px;
      }
    }
  }
  &.btn-store {
    display: flex;
    background: transparent;
    border: 2px solid $dark-color;
    span {
      align-self: center;
      margin: 0 12px;
      .heading, .platform {
        text-align: left;
      }
      .heading {
        font-size: 14px;
        font-weight: 400;
        color: grey;
        margin-bottom: 4px;
      }
    }
    &:hover {
      border-color: white;
    }
    .logo {
      width: $store-logo-size;
      height: $store-logo-size;
      align-self: center;
    }
  }
}
