//$primary-color: #007aff;
$primary-color: #FF6B00;
$primary-color-darker: #dc5900;

$secondary-color: #46DEFF;
$secondary-color-darker: #2fcae8;

$third-color: #BD00FF;
$third-color-darker: #9d00d5;

$dark-color: #1c1c1c;
$android-color: #A4C639;
$android-color-dark: #9ebe36;
