//$primary-color: #007aff;
$primary-color: #1F75FE;
$primary-color-darker: #0754da;

$secondary-color: #FC9F1B;
$secondary-color-darker: #ca7a06;

$third-color: #26F0F1;
$third-color-darker: #06bbbc;

$dark-color: #1c1c1c;
$android-color: #A4C639;
$android-color-dark: #9ebe36;

$dark-color: #1D1D1F;
$light-color: #FFFFFA;
