@import 'src/app/shared/theme/colors';
@import 'src/app/shared/theme/media';

h3 {
  font-size: 44px;
  width: auto;
}
.headline-color {
  background: -webkit-linear-gradient(yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: hsla(0,0%,100%,.8);
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}

.text-bold {
  font-weight: 600;
}

.label {
  font-weight: bold;
  margin-bottom: 14px;
  &.primary {
    color: $primary-color;
  }
  &.secondary {
    color: $secondary-color;
  }
  &.third {
    color: $third-color;
  }
}
.header {
  font-weight: bold;
}

@media screen and (min-width: 300px) and (max-width: $desktop-width) {
  .header {
    font-size: 24px;
  }
  .label {
    font-size: 18px;
  }
}
@media screen and (min-width: $desktop-width) {
  .header {
    font-size: 48px;
  }
  .label {
    font-size: 32px;
  }
}
