@import 'src/app/shared/theme/colors';
@import 'src/app/shared/theme/media';

@font-face {
  font-family: "SF Pro Rounded Bold";
  src: url('~src/assets/fonts/SF-Pro-Rounded-Bold.otf');
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: url('~src/assets/fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
  font-family: "SF Pro Display Medium";
  src: url('~src/assets/fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
  font-family: "SF Pro Display Semibold";
  src: url('~src/assets/fonts/SF-Pro-Display-Semibold.otf');
}

h3 {
  font-size: 44px;
  width: auto;
}

.headline-color {
  background: -webkit-linear-gradient(yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  line-height: 15px;
  font-size: 17px;
}

.text-bold {
  font-family: "SF Pro Display Semibold", sans-serif;
}

.label {
  font-family: "SF Pro Display Regular", sans-serif;
  margin-bottom: 14px;

  &.primary {
    color: $primary-color;
  }

  &.secondary {
    color: $secondary-color;
  }

  &.third {
    color: $third-color;
  }
}

.header {
  font-family: "SF Pro Display Semibold", sans-serif;
}

@media screen and (min-width: 300px) and (max-width: $desktop-width) {
  h1 {
    font-size: 48px;
  }
  .header {
    font-size: 24px;
  }
  .label {
    font-size: 18px;
  }
}

@media screen and (min-width: $desktop-width) {
  h1 {
    font-size: 72px;
  }
  .header {
    font-size: 40px;
  }
  .label {
    font-size: 28px;
  }
}
