<div class="bg" [style.background-image]="'url(assets/images/latest_bg.jpg)'">
    <div class="divider"></div>
    <div class="app-container">
        <img src="assets/images/logos/latest_logo.svg" alt="latest_logo" class="latest-logo">
        <h1>{{title}} App</h1>
        <p>{{subtitle}}</p>
        <img src="assets/images/mockups/latest_2.png" alt="" class="img">
        <h3>What it is?</h3>
        <p>{{description}}</p>
        <a [href]="androidLink" target="_blank" class="link-href">
            <button class="btn btn-store">
                <img src="assets/images/logos/android_white.svg" alt="android" class="logo">
                <span class="d-flex flex-column">
                <div class="heading">Download for</div>
                <div class="platform">Android</div>
            </span>
            </button>
        </a>
        <button routerLink="" class="btn mt-5 mx-auto d-block">Back Home</button>
    </div>
    <div class="divider"></div>
</div>
