@import 'src/app/shared/theme/colors';
@import 'src/app/shared/theme/media';

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.latest-logo {
  display: block;
  height: 100px;
  margin: 0 auto;
}
p, h1, h2, h3, h4, h5 {
  text-align: center;
}
.img {
  margin: 100px auto;
  display: block;
}
.link-href {
  text-decoration: none;
  margin: 72px auto 0 auto;
  display: block;
  width: fit-content;
}

@media screen and (min-width: 300px) and (max-width: $desktop-width) {
  .img {
    width: 100%;
  }
  .bg {
    background-size: cover;
  }
}
