<div class="desktop">
    <div class="heading">
        <div class="d-flex flex-column">
            <div class="header">avecode</div>
            <div class="subheader">Sophisticated apps, tailored for you.<br/>Crafted with <span
                    class="text-bold">love</span>,
                <span class="text-bold">passion</span> and <span class="text-bold">commitment</span></div>
            <button (click)="scrollTo('offer')" class="btn btn-secondary btn-icon">
                Explore
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
        </div>
    </div>
</div>
<div class="mobile">
    <div class="heading">
        <div class="header">avecode</div>
        <div class="subheader">Sophisticated apps, tailored for you.<br/>Crafted with <span
                class="text-bold">love</span>,
            <span class="text-bold">passion</span> and <span class="text-bold">commitment</span></div>
        <button (click)="scrollTo('offer')" class="btn btn-secondary btn-icon">
            Check
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
    </div>
</div>

