<img src="assets/images/wave.svg" alt="wave" class="wave">
<div class="wrapper">
    <img src="assets/images/mockups/landing.svg" alt="image" class="image">
    <div class="heading">
        <div class="header">Hello<br />World!</div>
        <div class="subheader">Need app? I got You.<br />Check my offer below.</div>
        <button (click)="scrollTo('offer')" class="btn btn-primary btn-icon">
                Check
                <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
    </div>
</div>

