@import 'src/app/shared/theme/media';

.desktop {
  background-image: url('/assets/images/wave_desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.mobile {
  background-image: url('/assets/images/wave_mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: black;

  .header {
    font-weight: bold;
  }

  .subheader {
    line-height: 1.5;
  }
}

@media screen and (min-width: 300px) and (max-width: $desktop-width) {
  .desktop {
    display: none;
  }
  .hamburger, .heading {
    color: black;
    padding: 0 12px;
    align-self: flex-end;
    font-size: 32px;
  }
  .image {
    width: 100%;
  }
  .header {
    font-size: 48px;
    text-align: right;
  }

  .subheader {
    text-align: right;
    font-size: 14px;
    margin: 12px 0;
  }

  .btn {
    align-self: center;
  }
}

@media screen and (min-width: $desktop-width) {
  .mobile {
    display: none;
  }
  .image {
    position: absolute;
    top: 54px;
    left: 54px;
    width: 55%;
  }
  .heading {
    width: 30%;
    padding: 10% 0;
    margin-left: auto;

    .header {
      font-size: 72px;
    }

    .subheader {
      font-size: 32px;
      margin: 24px 0;
    }
  }
}
