@import 'src/app/shared/theme/media';
@import 'src/app/shared/theme/colors';

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100px;
  color: black;
  transition: all .3s;
  z-index: 1;

  .items {
    display: flex;
  }

  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .symbol {
      height: 80px;
    }
  }

  .btn, .empty {
    width: 120px;
    margin: 0 20px;
  }

  &.color {
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }

  .nav-item {
    font-size: 16px;
    font-family: "SF Pro Display Semibold", sans-serif;
    cursor: pointer;
    transition: .3s;
    border: 2px solid transparent;
    border-radius: 26px;
    padding: 10px 18px;

    &.active {
      border-color: $primary-color;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: $desktop-width) {
  .navbar {
    display: none;
  }
}
