<div (scroll)="onWindowScroll();" class="navbar" id="navbar" [ngClass]="{'color': !(transparentNavbar$ | async)}">
    <a href="#" class="empty">
        <img [src]="'assets/images/' + ((transparentNavbar$ | async) ? 'symbol_light' : 'symbol_dark') + '.svg'"
             alt="symbol" class="symbol">
    </a>
    <div class="items">
        <div *ngFor="let item of navItems; let i = index"
             (click)="scrollTo(item.anchor)"
             class="nav-item mx-2 align-self-center"
             [ngClass]="{'active': (transparentNavbar$ | async) && i == 0}"
        >
            {{ item.label | titlecase }}
        </div>
    </div>
    <a target="_blank" href="{{latestAppLink}}" class="my-auto">
        <button class="btn btn-primary btn-sm">Latest App</button>
    </a>
</div>
