<div class="row row-section app-container no-gutters bg-dark waved-bottom">
    <div class="col-12 col-lg-6 col-image">
        <img src="assets/images/mockups/latest_2.png" alt="latest" class="latest">
    </div>
    <div class="col-12 col-lg-6 p-0 mb-lg-5">
        <div class="col-background bg-transparent">
            <div class="header">Mobile Apps</div>
            <p>
                My mobile applications are meticulously crafted leveraging Google's innovative <span><a
                    href="https://flutter.dev/"
                    target="_blank">Flutter</a></span> framework. This
                cutting-edge cross-platform tool empowers me to develop versatile applications compatible with both
                Android
                and iOS systems, streamlining the process and ensuring maximum reach for my creations.</p>
            <p>At the heart of Flutter lies the Dart programming language, renowned for its exceptional speed and
                client-optimised performance specifically tailored for mobile applications. By harnessing the power of
                Dart,
                I can ensure that my apps not only run efficiently but also provide users with a seamless and responsive
                experience, enhancing their overall satisfaction and engagement.</p>
            <p>In essence, with Flutter and Dart at my disposal, I can bring my creative visions to life while
                delivering
                high-quality, high-performance mobile solutions that cater to the diverse needs of modern users across
                different platforms.</p>
            <p>My apps often based on functions provided by <span><a href="https://firebase.google.com/"
                                                                     target="_blank">Firebase</a></span>
                which includes several very useful modules for
                developing apps.
            </p>
            <div class="mt-5">
                <img src="assets/images/logos/flutter_logo_light.svg" alt="flutter_logo" class="tool-logo">
                <img src="assets/images/logos/firebase_logo_light.svg" alt="firebase_logo" class="tool-logo">
            </div>
        </div>
        <div class="col-background bg-dark">
            <div class="label">Latest app</div>
            <div class="header">{{ title }}</div>
            <p>
                {{ description }}
            </p>
            <div class="row my-4 no-gutters">
                <div *ngFor="let pill of pills" class="col-6 pill pill-sm">
                    <div class="pill-icon secondary sm">
                        <fa-icon [icon]="pill.icon"></fa-icon>
                    </div>
                    <div class="pill-title">{{ pill.label | titlecase }}</div>
                </div>
            </div>
            <a [href]="androidLink" target="_blank" class="link-href">
                <button class="btn btn-store android">
                    <img src="assets/images/logos/android_white.svg" alt="android" class="logo">
                    <span class="d-flex flex-column">
                                        <div class="heading">Download for</div>
                                        <div class="platform">Android</div>
                                    </span>
                </button>
            </a>
        </div>
    </div>
    <div class="divider"></div>
    <div class="divider" id="web-apps"></div>
</div>
