<div class="row row-section app-container bg-dark no-gutters">
    <div class="col-12 col-lg-6 col-background bg-dark">
        <div class="header">My offer tailored to your needs</div>
        <p>I have a passion for crafting and developing contemporary modern applications. Continuously challenging
            myself, I strive to deliver products that thoroughly satisfy my clients.</p>
        <h4>Architecting and sustaining sophisticated web applications.</h4>
        <p>
            I combine my graphic skills with the programming one and that's work pretty well in developing my sets in
            front-end development. Always tend I to search for new challenges, both learn new technologies and polish
            current abilities and ways of programming.
        </p>
        <h4>Crafting cross-platform mobile applications</h4>
        <p>
            Specialising in the development of cross-platform mobile applications, I excel at crafting sophisticated
            solutions that seamlessly operate across various devices and operating systems. With a keen eye for detail
            and a commitment to excellence, I leverage cutting-edge technologies to deliver polished, user-friendly
            experiences that exceed client expectations. Let me transform your vision into a stunning reality.
        </p>
        <a href="mailto:{{contactMail}}">
            <button class="btn btn-primary btn-icon mt-4">
                Contact Me
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
        </a>
    </div>
    <div class="col-12 col-lg-6 col-image">
        <img src="assets/images/workstation_layout.png" alt="Workstation layout">
    </div>
</div>
