@import '~bootstrap/dist/css/bootstrap-grid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';

@import './src/app/shared/theme/typography';
@import './src/app/shared/theme/colors';
@import './src/app/shared/theme/buttons';

body {
  background: black;
  color: white;
  margin: 0;
  font-family: Inter, sans-serif;
}
