@import 'node_modules/bootstrap/dist/css/bootstrap-grid.css';
@import 'node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css';

@import 'src/app/shared/theme/typography';
@import 'src/app/shared/theme/colors';
@import 'src/app/shared/theme/buttons';

$pill-size-lg: 70px;
$pill-size-sm: 40px;

@mixin background-opacity($color, $opacity) {
  background: $color;
  background: rgba($color, $opacity);
}

body {
  background: $light-color;
  color: $dark-color;
  margin: 0;
  font-family: "SF Pro Display Regular", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.app-container {
  padding: 0 10%;
  margin-top: -1px;

  .col-background {
    border-radius: 14px;
    height: max-content;

    &.bg-dark {
      background-color: #1A1A1C;
    }

    &.bg-light {
      background-color: #FBFBFB;
    }
  }

  .col-image {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  &.waved-top {
    clip-path: url(#waveTopClipPath);
  }

  &.waved-bottom {
    clip-path: url(#waveBottomClipPath);
  }

  &.bg-dark {
    background-color: $dark-color;
    color: $light-color;
  }

  &.bg-light {
    background-color: $light-color;
    color: $dark-color;
  }
}

.divider {
  margin-top: -1px;

  &.bg-dark {
    background-color: $dark-color;
  }

  &.bg-light {
    background-color: $light-color;
  }
}

p {
  font-size: 17px;
  line-height: 1.5;
}

.app-icon {
  height: 50px;
  width: 50px;
  border-radius: 12px;
}

.h-0 {
  height: 0;
}

a {
  color: $primary-color;
}

.w-auto {
  width: auto;
}

.pill {
  display: flex;

  .pill-title {
    margin: 0 18px;
    align-self: center;
  }

  .pill-icon {
    display: flex;
    justify-content: center;
    border-radius: 50%;

    &.primary {
      @include background-opacity($primary-color, .3);

      fa-icon {
        margin: auto;
        color: $light-color;
      }
    }

    &.secondary {
      @include background-opacity($secondary-color, 1);

      fa-icon {
        margin: auto;
        color: $light-color;
      }
    }

    &.third {
      @include background-opacity($third-color, .3);

      fa-icon {
        margin: auto;
        color: $light-color;
      }
    }
  }

  &.pill-sm {
    .pill-icon {
      min-width: $pill-size-sm;
      min-height: $pill-size-sm;
      width: $pill-size-sm;
      height: $pill-size-sm;

      fa-icon {
        font-size: calc(#{$pill-size-sm} / 2);
      }
    }

    .pill-title {
      font-size: 14px;
    }
  }

  &.pill-lg {
    .pill-icon {
      min-width: $pill-size-lg;
      min-height: $pill-size-lg;
      height: $pill-size-lg;
      width: $pill-size-lg;
    }

    fa-icon {
      font-size: calc(#{$pill-size-lg} / 2);
    }

    .pill-title {
      font-size: 24px;
    }
  }
}

.badge {
  padding: 6px 14px;
  @include background-opacity($primary-color, .3);
  color: $primary-color;
  border-radius: 26px;
  width: fit-content;
  text-align: center;
  font-size: 14px;
  font-family: "SF Pro Display Semibold", sans-serif;

  &.secondary {
    @include background-opacity($secondary-color, .3);
    color: $secondary-color;
  }

  &.third {
    @include background-opacity($third-color, .3);
    color: $third-color;
  }
}

@media screen and (min-width: 300px) and (max-width: $desktop-width) {
  .divider {
    height: 50px;
  }
  .col-image img {
    display: none;
  }
  .col-background {
    padding: 24px;
  }
  .pill {
    height: $pill-size-sm;
    width: 50%;
    margin-bottom: 20px;

    &.pill-lg, &.pill-sm {
      .pill-title {
        font-size: 14px;
      }

      .pill-icon {
        min-width: $pill-size-sm;
        min-height: $pill-size-sm;
        height: $pill-size-sm;
        width: $pill-size-sm;

        fa-icon {
          font-size: calc(#{$pill-size-sm} / 2);
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .pill {
    justify-content: flex-end;
    margin-bottom: 18px;
  }
  .divider {
    height: 150px;
  }
  .col-background {
    padding: 72px;
  }
}
